{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<!-- Header Area-->
{% include 'shared/header.html' %}
<div class="page-content-wrapper">
  <div class="container">
    <!-- Profile Wrapper-->
    <div class="profile-wrapper-area py-3">
      <!-- User Information-->
      <div class="card user-info-card">
        <div class="card-body p-4 d-flex align-items-center">
          <div class="user-profile mr-3"><img src="{% static 'img/bg-img/9.jpg' %}" alt="">
            <div class="change-user-thumb">
              <form>
                <input class="form-control-file" type="file">
                <button><i class="lni-pencil"></i></button>
              </form>
            </div>
          </div>
          <div class="user-info">
            <h5 class="mb-0">{{ userinfo.username }}</h5>
          </div>
        </div>
      </div>
      <!-- User Meta Data-->
      <div class="card user-data-card">
        <div class="card-body">
          <form action="#" method="POST">
            <div class="form-group">
              <div class="title mb-2"><i class="lni-user"></i><span>Username</span></div>
              <input class="form-control" type="text" value="{{ userinfo.username }}">
            </div>
            <div class="form-group">
              <div class="title mb-2"><i class="lni-phone-handset"></i><span>Phone</span></div>
              <input class="form-control" type="text" value="+880 000 111 222">
            </div>
            <div class="form-group">
              <div class="title mb-2"><i class="lni-envelope"></i><span>Email Address</span></div>
              <input class="form-control" type="email" value="{{ userinfo.email }}">
            </div>
            <div class="form-group">
              <div class="title mb-2"><i class="lni-map-marker"></i><span>Shipping Address</span></div>
              <input class="form-control" type="text" value="28/C Green Road, BD">
            </div>
            <button class="btn btn-success w-100" type="submit">Save All Changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
