{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}

<!-- Header Area-->
{% include 'shared/header.html' %}
<div class="page-content-wrapper">
  <div class="container">
    <!-- Profile Wrapper-->
    <div class="profile-wrapper-area py-3">
      <!-- User Information-->
      <div class="card user-info-card">
        <div class="card-body p-4 d-flex align-items-center">
          <div class="user-profile mr-3"><img src="{% static 'img/bg-img/9.jpg' %}" alt="">
            <div class="change-user-thumb">
              <form>
                <input class="form-control-file" type="file">
                <button><i class="lni-pencil"></i></button>
              </form>
            </div>
          </div>
          <div class="user-info">
            <h5 class="mb-0">개인 정보 수정</h5>
          </div>
        </div>
      </div>
      <!-- User Meta Data-->
      <div class="card user-data-card">
        <div class="card-body">
          <form action="{% url 'modify-profile' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <div class="title mb-2"><i class="lni-user"></i><span>아이디</span></div>
              <input class="form-control" type="text" name="usernamen" value="{{ user.username }}" disabled>
            </div>
            <div class="form-group">
              <div class="title mb-2"><i class="lni-phone-handset"></i><span>Phone</span></div>
              <input class="form-control" type="text" name="phone" value="{{ userinfo.phone }}">
            </div>
<!--            <div class="form-group">-->
<!--              <div class="title mb-2"><i class="lni-envelope"></i><span>Email Address</span></div>-->
<!--              <input class="form-control" type="email" name="email" value="{{ user.email }}">-->
<!--            </div>-->
            <div class="form-group">
              <div class="title mb-2"><i class="lni-map-marker"></i><span>주소</span></div>
              <input class="form-control" type="text" name="address" value="{{ userinfo.address }}">
            </div>
            <button class="btn btn-success w-100" type="submit">변경하기</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
